body{
    background-color: #e4f9f5;
}

hr{
    border: 5px solid #fae3d9; 
 }

.h1{
    color: #40514e;
    font-size: 40px;
}
.h3{
    color: #40514e;
    font-size: 30px;
}

,.italics{
font-style:italic ;
}

.text{
color: #52616b;
font-size: 18px;
}


table{
    border: #ffb6b9 5px solid;
    background-color: #ffb6b9;
}
th, td  {
    border: #52616b 3px solid;
}
